## Homework 3

* Generate dataset using `make_blobs` function in the sklearn.datasets class. Generate 2000 samples with 3 features (X) with one label (y).
* Explore and analyse raw data.
* Do preprocessing for classification.
* Split your dataset into train and test test (0.7 for train and 0.3 for test).
* Try Decision Tree and XGBoost Algorithm with different hyperparameters. (Using GridSearchCV is a plus)
* Evaluate your result on both train and test set. Analyse if there is any underfitting or overfitting problem. Make your comments.

In [1]:
# import library

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split

In [2]:
# generate dataset

X, y = make_blobs(n_samples=2000, n_features=3, random_state=99)
print(X.shape)

(2000, 3)

In [3]:
data = pd.DataFrame(X, y)

In [4]:
data.head()

          0         1          2
2 -4.310578 -9.450810   8.629310
0  1.482540 -1.303870   8.077193
1 -8.629516  3.508920   1.964374
2 -5.153735 -9.008171  11.052393
1 -8.345104  4.610527   3.314673

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 2 to 0
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2000 non-null   float64
 1   1       2000 non-null   float64
 2   2       2000 non-null   float64
dtypes: float64(3)
memory usage: 62.5 KB

In [6]:
data.isna().sum()

0    0
1    0
2    0
dtype: int64

In [7]:
data.isin(['?']).sum()

0    0
1    0
2    0
dtype: int64

In [8]:
data.describe()

                 0            1            2
count  2000.000000  2000.000000  2000.000000
mean     -3.296205    -1.036872     5.902492
std       5.379013     6.325017     3.630670
min     -12.573177   -12.438518    -2.180802
25%      -8.634742    -8.385262     2.047631
50%      -4.088948    -0.168755     6.539549
75%       2.815209     5.477406     9.192248
max       7.015565     8.980375    12.583449

In [9]:
# split dataset (0.7 for train and 0.3 for test).

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=99)

In [10]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(max_depth=4, random_state=55)
clf.fit(X_train,y_train)
print("Accuracy of train:",clf.score(X_train,y_train))
print("Accuracy of test:",clf.score(X_test,y_test))

Accuracy of train: 1.0
Accuracy of test: 1.0

***For the decision tree there is an overfitting because accuracy is 1.

In [11]:
import xgboost as xgb

In [13]:
dmatrix_train = xgb.DMatrix(data=X_train, label=y_train)
dmatrix_test = xgb.DMatrix(data=X_test, label=y_test)

In [14]:
param = {'max_depth':3, 
         'eta':1, 
         'objective':'multi:softprob', 
         'num_class':3}

num_round = 5
model = xgb.train(param, dmatrix_train, num_round)

In [15]:
preds = model.predict(dmatrix_test)

In [16]:
best_preds = np.asarray([np.argmax(line) for line in preds])

In [18]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report, f1_score

In [19]:
print("Precision = {}".format(precision_score(y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(y_test, best_preds)))

Precision = 1.0
Recall = 1.0
Accuracy = 1.0

***For this there is an overfitting because accuracy is 1.