## Homework 2

* Import Boston Dataset from sklearn dataset class.
* Explore and analyse raw data.
* Do preprocessing for regression.
* Split your dataset into train and test test (0.7 for train and 0.3 for test).
* Try Ridge and Lasso Regression models with at least 5 different alpha value for each.
* Evaluate the results of all models and choose the best performing model.

In [26]:
# import libraries

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score
from sklearn import preprocessing
import pandas as pd

In [13]:
# import boston dataset

Xb,yb =load_boston(return_X_y=True)

df_boston = pd.DataFrame(Xb, columns = load_boston().feature_names)

In [14]:
# explore boston dataset

df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [10]:
# explore boston dataset

df_boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [28]:
df_boston.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [29]:
df_boston.isin(['?']).sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [16]:
# explore boston dataset

print(Xb.shape)

(506, 13)

In [17]:
# explore boston dataset

df_boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [19]:
# preprocess

df_boston.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [58]:
# split dataset (0.7 for train and 0.3 for test).

X_train, X_test, y_train, y_test = train_test_split(Xb,yb, test_size=0.3, random_state=99)

In [70]:
# rigde

ridge_model1 = Ridge(alpha = 0.01)
ridge_model1.fit(X_train, y_train)
print("Ridge Train 1: ", ridge_model1.score(X_train, y_train))
print("Ridge Test  1: ", ridge_model1.score(X_test, y_test))
print('*************************')
ridge_model2 = Ridge(alpha = 0.05)
ridge_model2.fit(X_train, y_train)
print("Ridge Train 2: ", ridge_model2.score(X_train, y_train))
print("Ridge Test  2: ", ridge_model2.score(X_test, y_test))
print('*************************')
ridge_model3 = Ridge(alpha = 0.10)
ridge_model3.fit(X_train, y_train)
print("Ridge Train 3: ", ridge_model3.score(X_train, y_train))
print("Ridge Test  3: ", ridge_model3.score(X_test, y_test))
print('*************************')
ridge_model4 = Ridge(alpha = 0.15)
ridge_model4.fit(X_train, y_train)
print("Ridge Train 4: ", ridge_model4.score(X_train, y_train))
print("Ridge Test  4: ", ridge_model4.score(X_test, y_test))
print('*************************')
ridge_model5 = Ridge(alpha = 0.20)
ridge_model5.fit(X_train, y_train)
print("Ridge Train 5: ", ridge_model5.score(X_train, y_train))
print("Ridge Test  5: ", ridge_model5.score(X_test, y_test))
print('*************************')
print('*************************')

# lasso

lasso_model1 = Lasso(alpha = 0.001)
lasso_model1.fit(X_train, y_train)
print("Lasso Train 1: ", lasso_model1.score(X_train, y_train))
print("Lasso Test  1: ", lasso_model1.score(X_test, y_test))
print('*************************')
lasso_model2 = Lasso(alpha = 0.005)
lasso_model2.fit(X_train, y_train)
print("Lasso Train 2: ", lasso_model2.score(X_train, y_train))
print("Lasso Test  2: ", lasso_model2.score(X_test, y_test))
print('*************************')
lasso_model3 = Lasso(alpha = 0.010)
lasso_model3.fit(X_train, y_train)
print("Lasso Train 3: ", lasso_model3.score(X_train, y_train))
print("Lasso Test  3: ", lasso_model3.score(X_test, y_test))
print('*************************')
lasso_model4 = Lasso(alpha = 0.015)
lasso_model4.fit(X_train, y_train)
print("Lasso Train 4: ", lasso_model4.score(X_train, y_train))
print("Lasso Test  4: ", lasso_model4.score(X_test, y_test))
print('*************************')
lasso_model5 = Lasso(alpha = 0.020)
lasso_model5.fit(X_train, y_train)
print("Lasso Train 5: ", lasso_model5.score(X_train, y_train))
print("Lasso Test  5: ", lasso_model5.score(X_test, y_test))

Ridge Train 1:  0.7644668322676935
Ridge Test  1:  0.6720254212102509
*************************
Ridge Train 2:  0.7644544732271804
Ridge Test  2:  0.6714513240074647
*************************
Ridge Train 3:  0.7644198733030272
Ridge Test  3:  0.6707659409761881
*************************
Ridge Train 4:  0.7643687153296252
Ridge Test  4:  0.6701146719195292
*************************
Ridge Train 5:  0.7643049760161232
Ridge Test  5:  0.6694956186375738
*************************
*************************
Lasso Train 1:  0.7644632444046406
Lasso Test  1:  0.6717429473509291
*************************
Lasso Train 2:  0.7643638919618428
Lasso Test  2:  0.6699519953391162
*************************
Lasso Train 3:  0.7640534448464177
Lasso Test  3:  0.6675490408621247
*************************
Lasso Train 4:  0.7635361717708115
Lasso Test  4:  0.6649640681991016
*************************
Lasso Train 5:  0.7628352545352591
Lasso Test  5:  0.6622056417484299